<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="EditGame">
		<title>Add / Edit Game</title>
		<centered>1</centered>
		<pos>-1,-1</pos>
		<minsize>620,440</minsize>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>2</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
					<minsize>600,350</minsize>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
								<pos>8,8</pos>
								<size>576,23</size>
							</object>
						</object>
						<label>Launch Configuration</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes" />
						<label>Info / Metadata</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_SAVE">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>10</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
