<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="LaunchConfig">
		<id_arg>0</id_arg>
		<style>0</style>
		<object class="wxBoxSizer" variable="wxBoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>2</cols>
						<growablecols>1</growablecols>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
								<label>Name</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_NAMETEXT" variable="NameTextCtrl" member="yes" />
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
								<label>Type</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxComboBox" name="ID_TYPECOMBOBOX" variable="TypeComboBox" member="yes">
								<content>
									<item>Standalone</item>
									<item>Emulated</item>
									<item>Tool</item>
									<item>Other</item>
								</content>
								<selection>0</selection>
								<style>wxTAB_TRAVERSAL</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
								<label>System</label>
								<hidden>1</hidden>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxComboBox" name="ID_SYSCOMBOBOX" variable="SystemComboBox" member="yes">
								<hidden>1</hidden>
								<style>wxTAB_TRAVERSAL</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
								<label>Executable / ROM file</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxFilePickerCtrl" name="ID_FILECTRL" variable="FileCtrl" member="yes">
								<message></message>
								<wildcard></wildcard>
								<style>wxFLP_FILE_MUST_EXIST|wxFLP_OPEN|wxFLP_USE_TEXTCTRL|wxFLP_SMALL</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
								<label>Working Directory</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxDirPickerCtrl" name="ID_WORKDIRCTRL" variable="WorkingDirectoryCtrl" member="yes">
								<message></message>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
								<label>Arguments</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_ARGTEX" variable="ArgumentsTextCtrl" member="yes" />
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
								<label>Icon</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="BitmapButton3" member="yes">
								<size>32,32</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer1" member="no">
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_ADDACTIONBUTTON" variable="AddActionButton" member="yes">
								<bitmap stock_id="wxART_PLUS" stock_client="wxART_BUTTON" />
								<handler function="OnAddActionButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_DELETEACTIONBUTTON" variable="DeleteActionButton" member="yes">
								<bitmap stock_id="wxART_MINUS" stock_client="wxART_BUTTON" />
								<handler function="OnDeleteActionButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
