<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="LaunchConfig">
		<id_arg>0</id_arg>
		<style>0</style>
		<object class="wxBoxSizer" variable="wxBoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>2</cols>
						<growablecols>1</growablecols>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_NAMETEXT" variable="NameText" member="yes">
								<label>Name</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_ACTIONNAME" variable="ActionName" member="yes">
								<handler function="OnActionNameText" entry="EVT_TEXT" />
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_TYPETEXT" variable="TypeText" member="yes">
								<label>Type</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxChoice" name="ID_ACTIONTYPE" variable="ActionType" member="yes">
								<content>
									<item>Standalone</item>
									<item>Emulated</item>
									<item>Tool</item>
									<item>Other</item>
								</content>
								<selection>0</selection>
								<handler function="OnTypeChoiceSelect" entry="EVT_CHOICE" />
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_SYSTEMTEXT" variable="SystemText" member="yes">
								<label>System</label>
								<hidden>1</hidden>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxComboBox" name="ID_ACTIONSYSTEM" variable="ActionSystem" member="yes">
								<hidden>1</hidden>
								<style>wxTAB_TRAVERSAL</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_FILETEXT" variable="FileText" member="yes">
								<label>Executable Path</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxFilePickerCtrl" name="ID_ACTIONFILE" variable="ActionPath" member="yes">
								<message></message>
								<path>C:\\</path>
								<wildcard></wildcard>
								<style>wxFLP_FILE_MUST_EXIST|wxFLP_OPEN|wxFLP_USE_TEXTCTRL|wxFLP_SMALL</style>
								<handler function="OnFileCtrlFileChanged" entry="EVT_FILEPICKER_CHANGED" />
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_WORKDIRTEXT" variable="WorkDirText" member="yes">
								<label>Working Directory</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxDirPickerCtrl" name="ID_ACTIONWORKDIR" variable="ActionWorkingDirectory" member="yes">
								<message></message>
								<path>C:\\</path>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_ARGTEXT" variable="ArgText" member="yes">
								<label>Arguments</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_ACTIONARGS" variable="ActionArguments" member="yes" />
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_ICONTEXT" variable="IconText" member="yes">
								<label>Icon</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_ACTIONICON" variable="ActionIcon" member="yes">
								<size>32,32</size>
								<handler function="OnActionIconClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer1" member="no">
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_ADDACTIONBUTTON" variable="AddActionButton" member="yes">
								<bitmap stock_id="wxART_PLUS" stock_client="wxART_BUTTON" />
								<handler function="OnAddActionButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_DELETEACTIONBUTTON" variable="DeleteActionButton" member="yes">
								<bitmap stock_id="wxART_MINUS" stock_client="wxART_BUTTON" />
								<handler function="OnDeleteActionButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
		<object class="wxFileDialog" variable="IconFileDialog" member="yes">
			<message>Select file for icon</message>
			<default_dir>C:\\</default_dir>
		</object>
	</object>
</wxsmith>
